@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Jost:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
    background-color: black;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color:white;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #FF0000;
}

h3 {
    font-size: 20px;
    color: #FF0000;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: white;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;

}


body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;              /* reduce height */
     padding: 0 50px; 
    background: black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#header .logo{
    width: 200px;
    height: 100px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: 0.3s ease;
}

#navbar li a:hover,

#navbar li a.active {
    color: #FF0000;


}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #FF0000;
    position: absolute;
    bottom: -4px;
    left: 20px;

}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}

#hero {
    background-image: url("img/hero\ banner.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h1 {
    padding-bottom: 15px;

}

#hero h1{
    color: white;
}

#hero button {

    background: linear-gradient(135deg, #ff3c3c, #ff8a00);
  color: #fff;
    border: none;
    padding: 14px 36px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 6px 15px rgba(202, 164, 114, 0.4);
    transition: all 0.3s ease;
}

#hero button:hover {
    transform: translateY(-12px);
    box-shadow: 0 15px 40px rgba(255, 0, 0, 0.3);
}

.features {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 40px 20px;
    text-align: center;
    flex-wrap: wrap;
}

.feature img {
    width: 300px;
    height: auto;

}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
     box-shadow: 0 15px 40px rgba(255, 0, 0, 0.3);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
   transform: translateY(-12px);
    box-shadow: 0 15px 40px rgba(255, 0, 0, 0.3);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;

}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}



#arrival {
    text-align: center;
}

#arrival .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#arrival .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#arrival .pro:hover {
    transform: translateY(-12px);
    box-shadow: 0 15px 40px rgba(255, 0, 0, 0.3);
}
#arrival .pro img {
    width: 100%;
    border-radius: 20px;

}



#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;


}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700px;
    color: #FF0000;
}

#newsletter p {
    font-size: 20px;
    font-weight: 600;
    color: white;
}
#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}

#newsletter button {
   background: linear-gradient(135deg, #ff3c3c, #ff8a00);
  color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 6px 15px rgba(202, 164, 114, 0.4);
    transition: all 0.3s ease;

}
#newsletter button:hover {
     transform: translateY(-12px);
    box-shadow: 0 15px 40px rgba(255, 0, 0, 0.3);
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
footer .logo{
    width: 200px;
    height: auto;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #FF0000;
    margin-bottom: 10px;
}

@media (max-width:799px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: black;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar  li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #FF0000;
        font-size: 24px;
        padding-left: 20px ;
    }
    #close{
        display:initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color:#3e2723;
        font-size: 24px;
    }
    #lg-bag{
        display: none;
    }
}


